
<div class="body-center">


  <div class="form-content-container">

    <%= render 'shared/errors', object: @question %>

    <%= render 'form', question: @question %>
    
  </div>




  <div class="right-content-container">
  </div>

</div>


