<nav class='form-nav'>
  <ul class="green-pills">
    <%= link_to "Questions", path, class: ('active' if params[:tab].nil? ) %>
    
    <%= link_to "Worksheets", path + '?tab=Worksheets', class: ('active' if params[:tab] == 'Worksheets' ) %>

    <%= link_to "Answer", path + '?tab=Answers', class: ('active' if params[:tab] == 'Answers' ) %>
  </ul>
</nav>