<nav class='form-nav'>
  <ul class="green-pills">
    <%= link_to "Worksheets", path, class: ('active' if params[:tab].nil? ) %>

    <%= link_to "Questions", path + '?tab=Questions', class: ('active' if params[:tab] == 'Questions' ) %>

    <%= link_to "Answer", path + '?tab=Answers', class: ('active' if params[:tab] == 'Answers' ) %>
  </ul>
</nav>