.unchecked {
  background-color: #FFFFE8;
}

.checked {
  background-color: white;
}

div.notification {
  width: 100%;
  height: 50px;
  line-height: 50px;
  border: solid 1px #DADDDA;
  border-top: none;
  padding-left: 20px;
  position: relative;
  font-size: 17px;
  margin-top: 7px;

  .contents {
    display: inline-block;
    width: 92%;
    overflow: hidden;
  }

  // content letter styling -------------------------------------
  .username {
    font-weight: 500;
    display: inline;
  }
  .question-type {
    font-weight: 500;
    display: inline;
    color: #008A2E;
  }
  .worksheet-type {
    font-weight: 500;
    display: inline;
    color: #CC2900;
  }
  .comment-orange {
    font-weight: 500;
    display: inline;
    color: #FF8F45;
  }
  .comment-type {
    font-weight: 300;
    display: inline;
    color: #5E14A9;
  }
  .vote-type {
   font-weight: 200;
   display: inline;
   margin-left: 5px;
   margin-right: 5px;
  }
  .topic {
    padding-left: 7px;
    display: inline;
    font-weight: 200;
    font-size: 17px;
    font-style: italic;
    color: #005CE6;
  }
  p.time{
    font-size: 14px;
    font-weight: 300;
    display: block;
    position: absolute;
    top: 0px;
    right: 10px;
    margin-top: -3px;
    color: #787878;
  }
  p.date {
    font-size: 9px;
    font-weight: 200;
    display: block;
    position: absolute;
    top: 15px;
    right: 10px;
  }  

  p.points {
    position: absolute;
    right: 10%;
    top: 0px;
    display: inline-block;
    width: auto;
    height: 100%;
  }





// the link ---------------------------------------------------
  span{ 
    position:absolute; 
    width:100%;
    height:100%;
    top:0;
    left: 0;

    /* edit: added z-index */
    z-index: 1;

    /* edit: fixes overlap error in IE7/8, 
       make sure you have an empty gif */
    background-image: url('empty.gif');
  }     
  span:hover {
    background-color: rgba(205, 208, 205,0.5);
  }

}

h2.notification {
  margin: 0px;
  font-size: 35px;
  font-weight: 200;
  width: 100%;
  height: 70px;
  padding-left: 20px;
  line-height: 70px;
  background-color: white;

}

// icon alert world symbol navbar ----------------------------------------

.notification-alert {
  position: absolute;
  top: 0px;
  right: 63px;
  margin-top: -5px;
  background-color: red;
  height: 17px;
  line-height: 10px;
  font-size: 13px;
  color: white;
  font-weight: 650;
  text-align: right;
  padding: 4px;
  border-radius: 4px;
}












