.question-container {
  background-color: #FFFFFF;
  width: 100%;
  border: solid #E3E3E3 1pt;
  border-top: none;
  position: relative;

  p {
    font-weight: 800px;
    position: relative;
    top: 4px;
    a:link, a:hover, a:visited {
      margin-top: 0px;
      margin-bottom: -10px;
      font-size: 16px;
      font-weight: 700;
    }
    a:link, a:hover {
      color: #2E5CE6;
    }
    a:visited {
      color: #9500BA;
    }
  }

  .question-info {
    color: rgba(108, 108, 108,0.8);

    padding: 0px;
    position: relative;
    bottom: 3px;
    width: 100%;

    span.pull-badges-right {
      display: float;
      float: right;
      position: relative;
      bottom: 1px;
      right: 2px;
    }

    i.small {
      font-size: 6px;
      position: relative;
      bottom: 2px;
    }
    small {
      font-size: 13px;
    }

  }
}

.vote {
  text-align: center;
  display: inline-block;
  margin: -5px 0px;
  padding: 0px;
  width: 50px;
  height: 45px;
  position: absolute;
  top:28%;
  left: 0px;

  div.vote_count{
    margin: -15px 0px;
    position: relative;
    bottom: 10px;
    font-size: 12px;
  }
  a:link, a:hover, a:visited {
    margin: 0px;
    padding: 0px;
    height: 42px;
    line-height: 42px;
    background-color: none;
    text-decoration: none;
    color: #2BC12B;
    font-size: 18px;
    font-weight: 900;
    position: relative;
    bottom: 11px;
  }
}

.question-content {
  margin-top: 15px;
  margin-bottom: 15px;
  display: inline-block;
  width: 826px;
  position: relative;
  left: 50px;
}



//show question page ---------------------------------------------------

.show-object-container {
  background-color: #FFFFFF;
  width: 100%;
  border-top: solid #E3E3E3 1pt;
  border-right: solid #E3E3E3 1pt;
  border-left: solid #E3E3E3 1pt;
  margin-top: 5px;
  position: relative;
  
  p {
    font-weight: 800px;
    position: relative;
    top: 4px;
    font-size: 30px;
    font-weight: 200;
  }

  .description {
    p {
      width: 90%;
      font-size: 18px;
      font-weight: 300;
    }
  }

  .object-info {
    color: rgba(70, 70, 70,0.8);
    font-size: 20px;
    padding: 0px;
    position: relative;
    width: 100%;

    span.pull-badges-right {
      display: float;
      float: right;
      position: relative;
      bottom: 1px;
      right: 2px;
    }

    i.small {
      font-size: 8px;
      position: relative;
      bottom: 2px;
      margin-left: 10px;
      margin-right: 10px;
    }

  }
}
.vote-big {
  text-align: center;
  display: inline-block;
  margin: -5px 0px;
  padding: 0px;
  width: 50px;
  height: 65px;
  position: absolute;
  top: 20px;
  left: 10px;

  div.vote_count{
    margin: -15px 0px;
    position: relative;
    bottom: 10px;
    font-size: 23px;
  }
  a:link, a:hover, a:visited {
    margin: 0px;
    padding: 0px;
    height: 42px;
    line-height: 42px;
    background-color: none;
    text-decoration: none;
    color: #2BC12B;
    font-size: 30px;
    font-weight: 900;
    position: relative;
    bottom: 11px;
  }
}

.descriptive-content-show {
  margin-top: 15px;
  margin-bottom: 15px;
  display: inline-block;
  width: 800px;
  position: relative;
  left: 70px;
}


// question-form ------------------------------------------------
.no-padding {
  padding: 0px;
}

.qw-form-container {
  width: 100%;
  background-color: #FFFFFF;
  border: solid #CDCDCD 1px;
  .label {
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 5px;
    padding-left: 3px;
    color: black;
    display: block;
  }
  p {
    font-size: 25px;
    font-weight: 400px;
    width: 95%;
    padding: 15px 0px 5px 47px;
  }
  .qw-form-input {
    width: 90%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    .custom-border-input {
      border: solid #00B800 1px;
    }
  .buttons-centered {
    text-align: center;
  }
  }
  .bottom-nav {
    width: 100%;
    height: 50px;
    margin-top: 25px;
    background-color: #F7F7F7;
    border-top: solid #CDCDCD 1px;
    .custom-blue {
      position: relative;
      top: 6px;
      left: 88%;
      background-color: #0099FF;
      color: white;
      font-size: 17px;
      font-weight: 500;
    }
    .custom-blue:hover{
      background-color: #008AE6;
    }
  }
  .upload-row {
   display: block;
   width: 100%;
   text-align: center;
   padding: 10px;
   .upload-button {
    display: inline-block;
    padding: 0px;
    width: 160px;
    margin-left: 5px;
    font-size: 10px;
   }
  }
}


.advertisement {
  width: 100%;
  display: block;
  height: 130px;
  background-color: white;
  border-left: solid 1px #E3E3E3;
  border-right: solid 1px #E3E3E3;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}