<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <ul class="nav nav-pills">
      <li role="presentation" class="<%= 'active' if params[:tab].nil? %>"><%= link_to "Worksheets", path %>
      </li>
      <li role="presentation" class="<%= 'active' if params[:tab] == 'Questions' %>"><%= link_to "Questions", path + '?tab=Questions' %>
      </li>
    </ul>   
  </div>
  <div class="col-md-4"></div>
</div>

