<small>
  <span>
    <%= object.views %> views
    <i class="fa fa-circle small"></i>
    <%= object.comments.size %> answers
    <i class="fa fa-circle small"></i>
    <%= link_to upcase_first(object.user.username), user_path(object.user) %>
    <i class="fa fa-circle small"></i>
    <%= display_date(object.created_at) %>
  </span>  
</small>
