//image layout
.form-left-side {
  margin: 0px;
  display: float;
  float: left;
  width: 285px;
  height: auto;
}
.form-middle-side {
  margin-left: 13px;
  display: inline-block;
  width: 285px;
  height: auto;
}

.form-right-side {
  margin: 0px;
  display: float;
  float: right;
  width: 285px;
  height: auto;
}



// resizing image for small post--------------------------------------
.image-container {
  display: block;
  width: 100%px;
  max-height: 300px;
  overflow: hidden; 
  text-align: center;
  margin-top: 10px;
}

img.image {
  width: 100%;
  height: auto;
}



//main div for worksheet---------------------------------------------
.small-wks-post {
  width: 100%;
  border: solid #CCCCCC 1pt;
  background-color: #FFFFFF;
  margin: 15px 0px;
  p {
    display: block;
    font-weight: 800px;
    margin-left: 5px;
    margin-bottom: -5px;
    a:link, a:hover, a:visited {
      font-size: 16px;
      font-weight: 600;
    }
    a:link, a:hover {
      color: #2E5CE6;
    }
    a:visited {
      color: #9500BA;
    }  
  }
  .btn-custom {
    margin-top: 3px;
    margin-bottom: 2px;
    margin-right: 0px;
    margin-left: 2px;
  }
  .image-info {
    margin-left: 4px;
    font-size: 14px;
    color: #7F7F7F;
    i.small {
      font-size: 6px;
      position: relative;
      bottom: 1px;
    }
  }
  div.vote {

    position: static;
    display: float;
    float: right;
    width: 8%;
  }

  div.buttons {
    display: inline-block;
    width: 85%;


  }
}


//search one-image --------------------------------------------------
.one-image {
  width: 285px;
  margin: 0px auto;
}

.one-image-container {
  padding: 0px;
  border-right: solid #CCCCCC 1pt;
  border-left: solid #CCCCCC 1pt;
  border-bottom: solid #CCCCCC 1pt;
  background-color: #FFFFFF;
  width: 100%;
}




