<div class="homepage-jumbotron">
    <div class="slogan">
      Discover<br/>
      <h3>Questions <br/>Worksheets <br/>Answers</h3>
    </div>
</div>

<%= render 'groups/question_image_answer_navbuttons', path: categories_path %>
<%= render 'shared/questions_answers_images' %>  

  

