
<div class="body-center">


  <div class="form-content-container">

    <%= render 'shared/errors', object: @image %>

    <%= render 'form', image: @image %>

    
  </div>




  <div class="right-content-container">
  </div>

</div>



